.logo{
    width: 50px;
    
}

body{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 80px auto 80px;
    grid-template-areas:
    header nav nav
    dropdown dropdown dropdown
    main main main
    footer footer footer
}

.pagenav{
    grid-column: 2 / span2;
    grid-row: 1;
}

header{
    grid-column: 1;
    grid-row: 1;
}

.dropdown{
    grid-column: 1 / span3;
    grid-row: 2;
}

.index{ /*en klass till varje body på de olika sidtyperna. för gridlayout*/
    
}




.nyhetsbrev{ /*en klass till varje body på de olika sidtyperna. för gridlayout*/

}

.omoss{ /*en klass till varje body på de olika sidtyperna. för gridlayout*/
}

.djurmall{ /*en klass till varje body på de olika sidtyperna. för gridlayout*/

}